.Header-container{
    height: 10%;
    background-color: black;
    width: 100%;
    color: green;
    display: grid;
    align-items: center;
   grid-template-columns: 3fr 1fr;
    

}
.header-left{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.header-left img{
    height: 50px;
    width: 50px;
    padding-right: 20px;
    
}
.stat{
text-decoration: none;
color: green;
font-size: larger;
font-weight: bold;
padding-right: 20px;
}
.stat:hover{
    color: rgb(6, 251, 6);
    font-weight: bolder;
}