.question{
    border-radius: 20px;
    border: 1px solid green;
    margin: 20px 90px;
    display: grid;
    grid-template-columns: 4fr 1fr;

    padding-left: 70px;
}
.check-box{
    width: 100%;
display: flex;
align-content: center;
}
.hidden{
    display: none;
}
.not-hidden{
   display: block;
   margin-top: 20px;
   border: none;
   border-radius: 20px;
   background-color: rgb(203, 198, 198);
   color: green;
   padding: 10px;
   font-weight: bold;
}
.icon{
    margin-left: 100px;
}
@media only screen and (max-width: 700px) {
    .question {
        grid-template-columns: 1fr;
        padding-bottom: 10px;
        padding-left: 20px;
      
    }
    .icon{
        margin-left: 10px;
    }
}